<div class="lightbox-header modal-header lightbox-font">
	<div class="pure-g">
		<div class="pure-u-5-24">
			<span class="lightbox-icon-container">
				<i class="fa fa-home fa-2x"></i>
			</span>
		</div>
	    <div class="pure-u-13-24 lightbox-title">
	    	<span ng-if="logIn === true" class="center" id="lightbox-title">
	    		Log into Dia
	    	</span>
	    	<span ng-if="signUp === true" class="center" id="lightbox-title">
	    		Sign Up for Dia
	    	</span>
	    </div>
	    <div class="pure-u-2-24 lightbox-close-holder">
	    	<span class="glyphicon glyphicon-remove" ng-click="close()" id="lightbox-close-button"></span>
	    </div>

	</div>
</div>
<div class="modal-body lightbox-body lightbox-font">
	<form id="login" ng-if="logIn === true" class="pure-form">
	    <fieldset>
	    	<div class="pure-g">
	    		<div class="pure-u-5-5">
	    			<span class="lightbox-font center">Login with your email and password:</span>
	    		</div>
	    	</div>
	    	
			<div class="pure-g form-row-padding">
				<div class="pure-u-5-5">
					<input id="email" class="dia-input pure-input-1" type="email" ng-model="user.email" placeholder="Your Email Address">
				</div>
			</div>
	        
			<div class="pure-g">
				<div class="pure-u-5-5 form-row-padding">
					<input id="password" class="dia-input pure-input-1" type="password" ng-model="user.password" placeholder="Your Password">
				</div>
				
			</div>

			<div class="pure-g">
	    		<div class="pure-u-5-5">
	    			<span class="lightbox-font center sign-up-prompt"><a ng-click="changePopupState()">New users, Sign up</a></span>
	    		</div>
	    	</div>
	        
			<div class="pure-g form-row-padding">
				<div class="pure-u-5-5">
					<button type="submit" ng-click="login()" class="center login-button pure-button pure-button-primary ">Done</button>
				</div>
			</div>
	        
	    </fieldset>
	</form>
	<form id="login" ng-if="signUp === true" class="pure-form">
	    <fieldset>
	    	<div class="pure-g">
	    		<div class="pure-u-5-5">
	    			<span class="lightbox-font center">Sign Up with your email and password:</span>
	    		</div>
	    	</div>
	    	
			<div class="pure-g form-row-padding">
				<div class="pure-u-5-5">
					<input id="email" class="dia-input pure-input-1" type="email" ng-model="user.signupEmail" placeholder="Your Email Address">
				</div>
				
			</div>
	        
			<div class="pure-g">
				<div class="pure-u-5-5 form-row-padding">
					<input id="password" class="dia-input pure-input-1" type="password" ng-model="user.signupPassword" placeholder="Choose a Password">
				</div>
			</div>
	        
			<div class="pure-g">
				<div class="pure-u-5-5 form-row-padding">
					<input id="password" class="dia-input pure-input-1" type="password" ng-model="user.signupPassConfirm" placeholder="Confirm Your Password">
				</div>
			</div>

			<div class="pure-g">
	    		<div class="pure-u-5-5">
	    			<span class="lightbox-font center sign-up-prompt"><a ng-click="changePopupState()">Existing users, Log in</a></span>
	    		</div>
	    	</div>

			<div class="pure-g form-row-padding">
				<div class="pure-u-5-5">
					<button type="submit" class="center login-button pure-button pure-button-primary" ng-click="signup()">Done</button>
				</div>
			</div>
	        
	    </fieldset>
	</form>
</div>